$brand-color-black: #2b2b2b !default;
$brand-color-red: #fc4c48 !default;
$brand-color-light-red: #f9796e !default;
$brand-color-beige: #f4ede1 !default;
$brand-color-white: #fdfdfd !default;
$brand-color-gray: #888888 !default;

$background-dark: #313131 !default;
$header-color-gray: #a3a3a3 !default;
$slider-background: #e3ddcd !default;
